header {
    background-color: black;
    text-align: right;
    padding-top: 1px;
    padding-block-end: 1px;
    padding-right: 5px;
}

header li {
    font-family: verdana;
    padding-right: 20px;
    padding-left: 20px;
    display: inline;
    color: rgb(255, 255, 255);
    
}

header li:hover {
    color: rgb(255, 145, 0);
    background-color: rgb(70, 67, 64);
    border-radius: 15px;
    cursor: pointer;
}

body {
    background: linear-gradient(28deg, rgba(212, 207, 207, 1) 0%, rgba(251, 178, 19, 0.45) 55%, rgba(212, 207, 207, 1) 100%, rgba(251, 178, 19, 0.45) 100%);
}


main h1 {
    color: rgb(87, 82, 78);
    font-size: 10mm;
    font-size: 3em;
    background-color: antiquewhite;
    font-family: 'Comic Sans MS';
    border-radius: 15px;
}

main h2 {
    font-family: 'Trebuchet MS';
    font-size: 7mm;
}


main h3 {
    font-size: 2em;
    text-align: center;
    font-family: 'Trebuchet MS';
    margin-top: 250px;
}

main h4 {
    font-size: 6mm;
    text-align: center;
    font-family: 'Lucida Sans';
    margin-top: 70px;
}

article p {
    margin-top: -15px;
    text-align: justify;
    text-indent: 20px;
    font-size: 20px;
    padding: 20px;
    margin-left: 120px;
    margin-right: 120px;
    background: linear-gradient(180deg, rgba(193,193,193,0.9136029411764706) 0%, rgba(119,117,117,0.7287289915966386) 100%);
    border-radius: 15px;
}

footer {
    margin-top: 50px;
    padding-top: 15px;
    height: 40px;
    font: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: black;
}

