/* Estilo cabeçalho */
header {
    background-color: white;
    box-shadow: 0px 2px 4px black;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    margin: 0;
}

span {
    color: #ff6f00;
    cursor: pointer;
    display: none;
    margin-top: auto;
    margin-bottom: auto;

}

ul {
    display: flex;
    list-style: none;
    margin-right: 5px;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    margin: 0px 0px 0px 50px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.logo h1 {
    margin: 0px 0px 0px 8px;
    font-family: 'Trebuchet MS';
    margin-top: auto;
    margin-bottom: auto;
}

img {
    width: 60px;
    height: 60px;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background: linear-gradient(90deg, rgba(255, 111, 0, 1) 25%, rgba(255, 166, 98, 1) 75%);
    margin: 0px;
}

.titulos {
    padding-bottom: 60px;
}

.titulo1 {
    color: white;
    font-size: 55px;
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 60px 0px 0px 120px;
    text-shadow: -5px 5px 10px black;
}

.titulo2 {
    font-family: 'Trebuchet MS';
    font-size: 22px;
    margin: 20px 0px 30px 120px;
    color: black;
}

/* Botões cabeçalho */
.botao {
    color: white;
    background-color: #ff6f00;
    border-radius: 15px;
    box-shadow: 1px 2px 3px black;
    font-weight: bolder;
    font-size: 15px;
    font-family: tahoma;
    padding: 8px;
    margin: 0px 0px 0px 10px;
}

.botao:hover {
    color: black;
    background-color: #ff6f00;
    border-radius: 15px;
    font-size: 15.3px;
    cursor: pointer;
}

/*  botão iniciar teste*/

.botao2 {
    color: black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 3px black;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    padding: 8px;
    margin: 30px 0px 0px 122px;
}

.botao2:hover {
    color: #ff6f00;
    background-color: white;
    border-radius: 15px;
    font-size: 20.3px;
    cursor: pointer;
}

/* link */
a:link {
    text-decoration: none;
}

/* Noticias */
#artigos {
    padding: 5px 0px 50px 0px;
    background-color: white;
    box-shadow: 0px -2px 4px black;
}

main h3 {
    padding-top: 30px;
    font-size: 25px;
    font-family: 'Trebuchet MS';
    text-decoration: underline;
    text-align: center;
    color: black;
}

main h4 {
    color: black;
    font-size: 22px;
    font-family: 'Trebuchet MS';
    text-align: center;
    margin-top: 50px;
}

/* Artigos */
article p {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    padding: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: 20px;
    font-family: 'calibri';
    background-color: white;
    box-shadow: 4px 5px 5px #ff6f00;
    border: solid 1px orange;
    border-radius: 15px;
}

/* rodapé */
.footer-index {
    width: 100%;
    position: relative;
    bottom: 0;
    padding-top: 20px;
    height: 40px;
    background-color: white;
    box-shadow: 0px -2px 4px black;
    font-size: 15px;
    text-align: center;
}

.footer-sobre {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    height: 40px;
    background-color: white;
    box-shadow: 0px -2px 4px black;
    font-size: 15px;
    text-align: center;
}

/*------------------sobre---------------------*/

.mainsobre {
    padding: 0;
}

.sobre {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 40px;
    text-align: justify;
    text-indent: 20px;
    font-size: 18px;
    background-color: white;
    box-shadow: 4px 5px 5px black;
    border: solid 1px black;
    border-radius: 15px;
}

.sobre h1,
p {
    display: flex;
    font-family: 'Trebuchet MS';
}

/* ------------ Reponsividade Sobre ------------*/
@media (max-width: 800px) {

    .mainsobre {
        padding: 0;
    }

    .sobre {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        padding: 30px;
        text-align: justify;
        text-indent: 20px;
        font-size: 16px;
        background-color: white;
        box-shadow: 4px 5px 5px black;
        border: solid 1px black;
        border-radius: 15px;
    }

    .sobre h1,
    p {
        font-family: 'Trebuchet MS';
    }
}

@media (max-width: 540px) {

    .mainsobre {
        padding: 0;
    }

    .sobre {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        padding: 20px;
        text-align: justify;
        text-indent: 20px;
        font-size: 16px;
        background-color: white;
        box-shadow: 4px 5px 5px black;
        border: solid 1px black;
        border-radius: 15px;
    }

    .sobre h1,
    p {
        font-family: 'Trebuchet MS';
    }
}

/* ------------ Reponsividade index ------------*/
@media (max-width: 1040px) {

    /* Artigos */
    article p {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        padding: 20px;
        text-align: justify;
        text-indent: 20px;
        font-size: 20px;
        font-family: 'calibri';
        background-color: white;
        box-shadow: 4px 5px 5px #ff6f00;
        border: solid 1px orange;
        border-radius: 15px;
    }

}

/* ------------ Reponsividade index ------------*/
@media (max-width: 780px) {

    .titulo1 {
        color: white;
        font-size: 55px;
        font-family: 'Trebuchet MS';
        margin: 0;
        padding: 60px 0px 0px 90px;
        text-shadow: -5px 5px 10px black;
    }

    .titulo2 {
        font-family: 'Trebuchet MS';
        font-size: 22px;
        margin: 20px 0px 30px 90px;
        color: black;
    }

    main h3 {
        padding-top: 20px;
        font-size: 22px;
        font-family: 'Trebuchet MS';
        text-decoration: underline;
        text-align: center;
        color: black;
    }

    /* Artigos */
    article p {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        padding: 20px;
        text-align: justify;
        text-indent: 20px;
        font-size: 20px;
        font-family: 'calibri';
        background-color: white;
        box-shadow: 4px 5px 5px #ff6f00;
        border: solid 1px orange;
        border-radius: 15px;
    }

}


/* ------------ Reponsividade index ------------*/
@media (max-width: 600px) {

    header {
        background-color: white;
        box-shadow: 0px 2px 4px black;
        display: flex;
        justify-content: space-between;
        padding: 2px;
        margin: 0;
    }

    ul {
        display: flex;
        list-style: none;
        padding-left: 10px;
        margin: auto 10px auto 0px;
    }

    .logo {
        margin: auto 0px auto 5px;
        display: flex;
    }

    .logo h1 {
        font-size: 22px;
        margin: auto 0px auto 8px;
        font-family: 'Trebuchet MS';
    }

    img {
        width: 48px;
        height: 48px;
    }

    .titulo1 {
        color: white;
        font-size: 42px;
        font-family: 'Trebuchet MS';
        margin: 0;
        padding: 60px 0px 0px 30px;
        text-shadow: -5px 5px 10px black;
    }

    .titulo2 {
        font-family: 'Trebuchet MS';
        font-size: 20px;
        margin: 20px 0px 30px 30px;
        color: black;
    }

    /* Botões cabeçalho */
    .botao {
        color: white;
        background-color: #ff6f00;
        border-radius: 15px;
        box-shadow: 1px 2px 3px black;
        font-weight: bolder;
        font-size: 13px;
        font-family: tahoma;
        padding: 8px;
        margin: 0px 0px 0px 10px;
    }

    .botao:hover {
        color: black;
        background-color: #ff6f00;
        border-radius: 15px;
        font-size: 13.3px;
        cursor: pointer;
    }

    /*  botão iniciar teste*/

    .botao2 {
        color: black;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 2px 3px black;
        font-weight: bolder;
        font-size: 18px;
        font-family: 'Trebuchet MS';
        padding: 6px;
        margin: 30px 0px 0px 30px;
    }

    .botao2:hover {
        color: #ff6f00;
        background-color: white;
        border-radius: 15px;
        font-size: 18.3px;
        cursor: pointer;
    }

    main h3 {
        padding-top: 20px;
        font-size: 16px;
        font-family: 'Trebuchet MS';
        text-decoration: underline;
        text-align: center;
        color: black;
    }

    main h4 {
        color: black;
        font-size: 16px;
        font-family: 'Trebuchet MS';
        text-align: center;
        margin-top: 35px;
    }

    /* Artigos */
    article p {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 310px;
        padding: 15px;
        text-align: justify;
        text-indent: 20px;
        font-size: 17px;
        font-family: 'calibri';
        background-color: white;
        box-shadow: 4px 5px 5px #ff6f00;
        border: solid 1px orange;
        border-radius: 15px;
    }
}
